@import './vars.scss';


/* *~~*~~*~~*~~*~~* NAVBAR *~~*~~*~~*~~*~~* */

// $navbar-item-img-max-height: 3.5rem;
// $navbar-height: 5rem;

/* *~~*~~*~~*~~*~~* INPUT *~~*~~*~~*~~*~~* */

$input-focus-border-color: $hdarkred;
$input-focus-box-shadow-color: rgba($hdarkred, 0.25);

/* *~~*~~*~~*~~*~~* BUTTONS *~~*~~*~~*~~*~~* */

$button-focus-color: $hdarkred;
$button-focus-border-color: $hdarkred;
$button-focus-box-shadow-color: rgba($hdarkred, 0.25);
