@use 'sass:color';
@use 'sass:map';
@import './vars';

$levels: 10;
$corners: 'top', 'right', 'bottom', 'left';

@mixin bg-blur-list {
    @for $i from 1 through 4 {
        .has-bg-blur-#{$i} {            
            -webkit-backdrop-filter: blur(#{$i * 5}px);
            backdrop-filter: blur(#{$i * 5}px);
        }
    }
}

@include bg-blur-list;

@mixin generate-color-classes($color, $colorName) {
    .has-background-#{$colorName} {
        background: $color !important;
    }

    .is-#{$colorName} {
        background: $color !important;
        border-color: $color !important;
        color: black !important;
    }

    @for $i from 1 through $levels {
        .has-background-#{$colorName}-o-#{$i} {
            background-color: rgba($color, $i/10) !important;
        }
    }

    @for $i from 1 through 10 {
        @for $j from 1 through 5 {
            .has-border-#{$j}-#{$colorName}-o-#{$i} {
                border: #{$j}px solid rgba($color, $i/10) !important;
            }
        }
    }

    @each $corner in $corners {
        .has-#{$corner}-border-#{$colorName} {
            border-#{$corner}: 1px solid $color;
        }
    }

    .has-text-#{$colorName} {
        color: $color !important;
    }
}

@each $colorName, $color in $hcolors {
    @include generate-color-classes($color, $colorName);
}

.has-background-transparent {
    background: rgba(0, 0, 0, 0) !important;
}

.is-borderless {
    border: none !important;
}
