// import your fonts here and create a font-face rule for them

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@300;400;700&family=PT+Mono&display=swap');

@font-face {
    font-family: 'FootlightMTLight';
    src: url('media/fonts/FootlightMTLight.ttf') format('opentype');
    font-display: swap;
}


.has-font-footlight {
    font-family: 'FootlightMTLight', sans-serif;
}

.has-font-roboto{
    font-family: 'Roboto', sans-serif;
}

.has-font-airborne {
    font-family: 'Airborne', sans-serif;
}

.has-font-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.has-font-ptmono {
    font-family: 'PT Mono', monospace;
}

// *:not(.has-font-airborne):not(i) {
//     font-family: 'Montserrat', sans-serif;
// }
